body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --dtext-color: #2e2f42;
  --ltext-color: #434455;
  --dblue: #404bbf;
  --roboto: "Roboto";
  --rakeway: "Raleway";
  }

span {
  color: #2e2f42;
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.main-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-link:focus {
  color: #404bbf;
}

.header-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address:focus{
  color: #404BBF;
}
.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.about-subtitle-strategy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}

.about-text-strategy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.about-item-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-style .about-text-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.hero {
  font-family: "Roboto";
  background: #2e2f42;
}

.hero-tagline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404BBF;
  color: #ffffff;
}
.hero-button:focus {
  background-color: #404BBF;
  color: #ffffff;
}

.about-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.about-subtitle{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42
}
.about-tagline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.aboutcan-tagline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42
}
.about-img {
  border: 1px solid #e7e9fc;
}
.team {
  background: #f4f4fd;
}

.team-item-markguerrero {
  background: #ffffff;
}

.team-item-tomford {
  background: #ffffff;
}

.team-item-camilagarcia {
  background: #ffffff;
}

.team-item-danielwilson {
  background: #ffffff;
}

.team-img-markguerrero {
  mix-blend-mode: normal;
}

.team-subtitle-markguerrero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text-markguerrero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-subtitle-tomford {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text-tomford {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-subtitle-camilagarcia {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-text-camilagarcia {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-subtitle-danielwilson {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-tagline{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text-danielwilson {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-logo-p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-nav-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-address-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.link {
  text-decoration: none;
  text-decoration: none;
}
.list-style {
  list-style: none;
  text-decoration: none;
}

.link:focus{
  color: #404bbf;
}
.link:hover{
  color: #404BBF;
}
.header-link:hover{
  color: #404bbf;
}
.header-link:focus{
  color: #404BBF;
}
.header-link:hover {
  color: #404BBF;
}
.footer-logo:hover {
  color: #404bbf;
}

.footer-logo-p:hover {
  color: #4d5ae5;
}
.team-subtitle{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-tagline{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.button-all-p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-web-site-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-app-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-design-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}
about-tagline
.button-marketing-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.about-subtitle-bankingapp-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-cashlesspayment-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-meditationapp-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-taxiservice-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-screenillustrations-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-onlinecourses-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-instagramstories-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-organicfood-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-subtitle-freshcoffee-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-text-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}

.about-bankingapp-p {
  background: #ffffff;
}

.about-cashlesspayment-p {
  background: #ffffff;
}

.about-meditationapp-p {
  background: #ffffff;
}

.about-taxiservice-p {
  background: #ffffff;
}
.about-screenillustrations-p {
  background: #ffffff;
}
.about-onlinecourses-p {
  background: #ffffff;
}
.about-instagramstories-p {
  background: #ffffff;
}
.about-organicfood-p {
  background: #ffffff;
}
.about-freshcoffee-p {
  background: #ffffff;
}
.footer-logo-p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
link
.footer-text-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo:focus {
  color: #4d5ae5;
}
.footer-logo-p:focus {
  color: #4d5ae5;
}
