body{
    font-family: "Roboto", sans-serif
}
:root{
    color: #2E2F42;
    color: #4D5AE5;
    color: #434455;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-family: 'Raleway';
}
.header-logo{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
}
.header-nav{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.Hero{
    font-family: 'Roboto';
    background: #2E2F42;
}
.Hero-tagline{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.Hero-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.about-subtitle-Punctuality{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.about-text-Strategy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.about-Item-Punctuality{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.about-text-Punctuality{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.about-subtitle-Punctuality{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.about-text-Diligence{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.about-text-Diligence{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .about-subtitle-Diligence{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .about-subtitle-Technologies{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .about-text-Technologies{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .aboutcan-tagline{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    }
    .about-img{
    border: 1px solid #E7E9FC;
    }
    .team{
    background: #F4F4FD;
    }
    .team-item-MarkGuerrero{
    background: #FFFFFF;
    }
    .team-item-TomFord{
    background: #FFFFFF;
    }
    .team-item-CamilaGarcia{
    background: #FFFFFF;
    }
    .team-item-DanielWilson{
    background: #FFFFFF;
    }
    .team-img-MarkGuerrero{
    mix-blend-mode: normal;
    }
    .team-subtitle-MarkGuerrero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .team-text-MarkGuerrero{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .team-subtitle-TomFord{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
    .team-text-TomFord{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .team-subtitle-CamilaGarcia{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .team-subtitle-DanielWilson {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .team-text-DanielWilson {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
    }
    
    .footer-logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
    }
    
    .footer-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
    }
    
    .footer {
        background: #2E2F42;
    }
    
    .header-logo-p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;  
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5; 
    }
    
    .header-nav-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .header-address-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
    }
    
    .link {
        list-style: none;
    }
    
    .link {
        text-decoration: none;
    }
    
    .header-link:hover {
        color: #4D5AE5;
    }
    
    .footer-logo:hover {
        color: #4D5AE5;
    }
    
    .footer-logo-p:hover {
        color: #4D5AE5;
    }
    
    .button-all-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
    }
    
    .button-web-site-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5; 
    }
    
    .button-app-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
    }
    
    .button-design-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
    }
    
    .button-marketing-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
    }
    
    .about-subtitle-bankingapp-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .about-subtitle-cashlesspayment-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .about-subtitle-meditationapp-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .about-subtitle-taxiservice-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .about-subtitle-screenillustrations-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .about-subtitle-onlinecourses-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .about-subtitle-instagramstories-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .about-subtitle-organicfood-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    .about-subtitle-freshcoffee-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
        }
    
        .about-text-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        }
      
        .about-bankingapp-p {
        background: #FFFFFF;
        }
      
        .about-cashlesspayment-p {
        background: #FFFFFF;
        }
       
        .about-meditationapp-p {
        background: #FFFFFF;
        }
       
        .about-taxiservice-p {
        background: #FFFFFF;
        }  
        .about-screenillustrations-p {
        background: #FFFFFF;
        }
        .about-onlinecourses-p {
        background: #FFFFFF;
        }   
        .about-instagramstories-p {
        background: #FFFFFF;
        }  
        .about-organicfood-p {
        background: #FFFFFF;
        }   
        .about-freshcoffee-p {
        background: #FFFFFF;
        }   
        .footer-logo-p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        }  
        .footer-text-p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        }
        .header-link:focus {
        color: #4D5AE5;
        }  
        .footer-logo:focus {
        color: #4D5AE5;
        }   
        .footer-logo-p:focus {
        color: #4D5AE5;
    }