body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --dtext-color: #2e2f42;
  --ltext-color: #434455;
  --font-family: "Roboto";
  --font-family: "Raleway";
}
span{
  color: #2e2f42 ;
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #2e2f42;
}
.portfolio-link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #2e2f42;
}
.contacts-link:focus {
  color: #404bbf;
}
.header-call:focus{
  color: #404bbf
}
.header-mail:focus{
  color: #404bbf
}
.studio-link:focus{
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}
.studio:hover{
  color: #404bbf;
}
.portfolio:hover{
  color: #404bbf;
}
.contacts:hover{
  color: #404bbf;
}
.header-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color:#434455;
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color:#434455;
}
.hero {
  font-family: "Roboto";
  background: #2e2f42;
}
.header-link:hover{
  color: #404bbf;
}
.header-link:focus{
  color: #404bbf 
}

.hero-tagline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 3.75em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.about-subtitle-strategy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-text-strategy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .about-item-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  .list-style
  .about-text-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  }
  .about-subtitle-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .about-text-strategy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .about-item-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .about-text-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .about-subtitle-punctuality {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .about-text-diligence {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .about-subtitle-diligence {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .about-subtitle-technologies {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .about-text-technologies {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .aboutcan-tagline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  }
  .about-img {
  border: 1px solid #e7e9fc;
  }
  
  .team {
  background: #f4f4fd;
  }
  
  .team-item-markguerrero {
  background: #ffffff;
  }
  
  .team-item-tomford {
  background: #ffffff;
  }
  
  .team-item-camilagarcia {
  background: #ffffff;
  }
  
  .team-item-danielwilson {
  background: #ffffff;
  }
  
  .team-img-markguerrero {
  mix-blend-mode: normal;
  }
  
  .team-subtitle-markguerrero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .team-text-markguerrero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .team-subtitle-tomford {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .team-text-tomford {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .team-subtitle-camilagarcia {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .team-text-camilagarcia {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  .team-subtitle-danielwilson {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  }
  
  .team-text-danielwilson {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  }

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  background: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-logo-p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-nav-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-address-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}
.link{
  text-decoration: none;
  text-decoration: none;
}
.list-style{
  list-style: none;
  text-decoration: none;;
}



.link:hover {
  color: #404bbf
}
.link:hover{
  color: #404bbf;
}

.footer-logo:hover {
  color: #404bbf
}

.footer-logo-p:hover {
  color: #4d5ae5;
}

.button-all-p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-web-site-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-app-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-design-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.button-marketing-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.about-subtitle-bankingapp-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-cashlesspayment-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-meditationapp-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-taxiservice-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-screenillustrations-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-onlinecourses-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-instagramstories-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-subtitle-organicfood-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-subtitle-freshcoffee-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-text-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #434455;
}

.about-bankingapp-p {
  background: #ffffff;
}

.about-cashlesspayment-p {
  background: #ffffff;
}

.about-meditationapp-p {
  background: #ffffff;
}

.about-taxiservice-p {
  background: #ffffff;
}
.about-screenillustrations-p {
  background: #ffffff;
}
.about-onlinecourses-p {
  background: #ffffff;
}
.about-instagramstories-p {
  background: #ffffff;
}
.about-organicfood-p {
  background: #ffffff;
}
.about-freshcoffee-p {
  background: #ffffff;
}
.footer-logo-p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-text-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.header-link:focus {
  color: #4d5ae5;
}
.footer-logo:focus {
  color: #4d5ae5;
}
.footer-logo-p:focus {
  color: #4d5ae5;
}
